{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.brochure) }}
    <button class="btn btn-danger"> Submit</button>
{{ form_end(form) }}

{% endblock %}
